<ng-container *ngIf="suborders.length > 0; else noSuborders">
  <div *ngFor="let suborder of suborders; index as i; trackBy: suborderTracking" class="card w-100 mt-3 mb-3 d-flex flex-column justify-content-evenly align-items-baseline">
    <div class="card-body w-100">
      <div class="w-100 p-0 d-flex flex-column flex-md-row justify-content-evenly">
        <div class="w-100 w-md-50 overflow-x-scroll no-wrap p-2" style="white-space: nowrap">
          <h3 class="card-title m-0"> {{ suborder.foodName }} </h3>
        </div>
        <div class="w-100 w-md-50 overflow-x-scroll no-wrap text-md-end p-2" style="white-space: nowrap">
          <h5 class="card-title m-0"> Quantity: {{ suborder.quantity }} </h5>
          <h6 class="card-title m-0"> Order: {{ suborder.orderId }} </h6>
        </div>
      </div>
      <div class="mt-3 w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center">
        <div class="w-100 w-md-50 overflow-x-scroll no-wrap form-control m-3">
          <p class="card-text"> {{ suborder.instructions == "" ? "No Instructions" : suborder.instructions }} </p>
        </div>
        <div class="w-100 w-md-50 d-flex flex-column flex-md-row justify-content-evenly align-items-center no-wrap m-3">
          <button [disabled]="suborder.status != orderedProvider" class="btn fw-bold ms-1 me-1" [ngClass]="suborder.status == orderedProvider ? 'text-dark-emphasis text-bg-dark' : 'text-dark'">Ordered</button>
          <button (click)="markProcessing(suborder.id)" [disabled]="suborder.status == completedProvider" class="btn fw-bold ms-1 me-1" [ngClass]="suborder.status == processingProvider ? 'text-warning-emphasis text-bg-warning' : 'text-warning'">Processing</button>
          <button (click)="markCompleted(suborder.id)" class="btn fw-bold ms-1 me-1" [ngClass]="suborder.status == completedProvider ? 'text-success-emphasis text-bg-success' : 'text-success'">Complete</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noSuborders>
  <div class="w-100 text-center text-dark-emphasis p5">
    <h3>No Incomplete Suborders</h3>
  </div>
</ng-template>
