<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand">MVC.Food</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center"><a class="nav-link" href="#menu_card_parent">Menu</a></li>
        <li class="nav-item text-center"><a class="nav-link" href="#order_card_parent">Order: {{ orderId }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="vw-100 vh-100 d-flex flex-column flex-xl-row justify-content-evenly align-items-center p-5">
  <ng-container *ngIf="loaded; else loaded">
    <div class="card w-100 w-xl-50 m-4 parent-card">
      <order-menu [readonly]="readonly" [tags]="tags" [menu]="menu" (onAdd)="addItem($event)" class="card-body h-100 d-flex flex-column justify-content-start"></order-menu>
    </div>
    <div id="order_card_parent" class="card w-100 w-xl-50 m-4 parent-card">
      <div class="card-body h-100 d-flex flex-column justify-content-start">
        <order-order-details [readonly]="readonly" [suborders]="suborders" (onIncrement)="incrementSuborder($event)" (onDecrement)="decrementSuborder($event)" class="h-100 d-flex flex-column justify-content-start"></order-order-details>
        <order-billing [subtotal]="subtotal" (onTip)="tip = $event" (onDiscount)="discount = $event" (onTotal)="total = $event"></order-billing>
        <div class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center">
          <button (click)="confirmChanges()" id="confirm" class="btn btn-primary btn-xl rounded-pill m-2">Back</button>
          <button [disabled]="this.completed" (click)="completeOrder()" id="complete" class="btn btn-primary btn-xl rounded-pill m-2">Complete</button>
          <button [disabled]="!this.payable" (click)="completeOrderPayment()" id="pay" class="btn btn-primary btn-xl rounded-pill m-2">Pay</button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loaded>
    <div class="loading"></div>
  </ng-template>
</div>
