<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand">MVC.Food</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center"><a class="nav-link">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-black align-content-center h-100">
  <div class="masthead-content">
    <div class="container main d-flex flex-column justify-content-center align-items-center bg-white rounded-5 p-4 p-md-5">
      <div class="text-center">
        <h1>
          Almost ready for the best food in town!
        </h1>
      </div>
      <ul class="nav nav-tabs w-100" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab" aria-controls="home" aria-selected="true">Sign Up</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="profile" aria-selected="false">Log In</button>
        </li>
      </ul>
      <div class="tab-content w-50 d-flex justify-content-center p-3">
        <div id="signup" role="tabpanel" class="tab-pane fade show active w-100">
          <auth-signup></auth-signup>
        </div>
        <div id="login" role="tabpanel" class="tab-pane fade w-100">
          <auth-login></auth-login>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
  <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
  <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
  <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
</header>
