<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand">MVC.Food</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center"><a class="nav-link">Administrative Options</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-black align-content-center h-100">
  <div class="masthead-content">
    <div class="container d-flex flex-column justify-content-center align-items-center bg-white rounded-5 p-5">
      <div class="text-center w-100">
        <h1>
          Administrative Options
        </h1>
        <hr class="w-100">
      </div>
      <ul class="nav nav-tabs" id="admin-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="current-tags-btn" data-bs-toggle="tab" data-bs-target="#current-tags" type="button" role="tab" aria-controls="home" aria-selected="true">Current Tags</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="menu-btn" data-bs-toggle="tab" data-bs-target="#menu" type="button" role="tab" aria-controls="contact" aria-selected="false">Menu</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="create-tags-btn" data-bs-toggle="tab" data-bs-target="#create-tag" type="button" role="tab" aria-controls="profile" aria-selected="false">Create Tag</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="edit-tags-btn" data-bs-toggle="tab" data-bs-target="#edit-tags" type="button" role="tab" aria-controls="contact" aria-selected="false">Edit Food Item Tags</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="add-food-item-btn" data-bs-toggle="tab" data-bs-target="#add-food" type="button" role="tab" aria-controls="contact" aria-selected="false">Add Food Item</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="user-permissions-btn" data-bs-toggle="tab" data-bs-target="#user-permissions" type="button" role="tab" aria-controls="contact" aria-selected="false">Update User Permissions</button>
        </li>
      </ul>
      <div class="container-lg tab-content p-5">
        <div class="tab-pane fade show active" id="current-tags" role="tabpanel" aria-labelledby="home-tab">
          <admin-current-tags [tags]="tags"></admin-current-tags>
        </div>
        <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="profile-tab">
          <admin-current-menu [menu]="menu"></admin-current-menu>
        </div>
        <div class="tab-pane fade" id="edit-tags" role="tabpanel" aria-labelledby="contact-tab">
          <admin-edit-tags [tags]="tags" [menu]="menu"></admin-edit-tags>
        </div>
        <div class="tab-pane fade" id="create-tag" role="tabpanel" aria-labelledby="contact-tab">
          <admin-create-tag [tags]="tags" class="w-100"></admin-create-tag>
        </div>
        <div class="tab-pane fade" id="add-food" role="tabpanel" aria-labelledby="contact-tab">
          <admin-add-food [menu]="menu"></admin-add-food>
        </div>
        <div class="tab-pane fade" id="user-permissions" role="tabpanel" aria-labelledby="contact-tab">
          <admin-user-permissions></admin-user-permissions>
        </div>
      </div>
      <div class="w-100 text-center">
        <button (click)="loadDashboard()" class="btn btn-primary btn-xl rounded-pill">Back</button>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
  <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
  <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
  <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
</header>
