<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand">MVC.Food</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center"><a class="nav-link">Administrative Options</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-black align-content-center h-100">
  <div class="masthead-content">
    <div class="container d-flex flex-column justify-content-center align-items-center bg-white rounded-5 p-5">
      <div class="text-center w-100">
        <h1>
          Administrative Options
        </h1>
        <hr class="w-100">
      </div>
      <ul class="nav nav-tabs" id="admin-tabs" role="tablist">
        <li *ngFor="let tab of tabConfigProvider; index as i; trackBy: tabTrackProvider" class="nav-item" role="presentation">
          <button [class]="'nav-link' + (tab.selected ? ' active' : '')" [id]="tab.target + '-btn'" data-bs-toggle="tab" [attr.data-bs-target]="'#' + tab.target" type="button" role="tab" [attr.aria-controls]="tab.target" [attr.aria-selected]="tab.selected">
            {{tab.label}}
          </button>
        </li>
      </ul>
      <div class="container-lg tab-content p-2">
        <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="profile-tab">
          <admin-current-menu [tags]="tags" [menu]="menu"></admin-current-menu>
        </div>
        <div class="tab-pane fade" id="edit-tags" role="tabpanel" aria-labelledby="contact-tab">
          <admin-edit-tags [tags]="tags" [menu]="menu"></admin-edit-tags>
        </div>
        <div class="tab-pane fade" id="create-tag" role="tabpanel" aria-labelledby="contact-tab">
          <admin-create-tag [tags]="tags" class="w-100"></admin-create-tag>
        </div>
        <div class="tab-pane fade" id="add-food" role="tabpanel" aria-labelledby="contact-tab">
          <admin-add-food [menu]="menu"></admin-add-food>
        </div>
        <div class="tab-pane fade" id="user-permissions" role="tabpanel" aria-labelledby="contact-tab">
          <admin-user-permissions></admin-user-permissions>
        </div>
      </div>
      <div class="w-100 text-center">
        <button (click)="loadDashboard()" class="btn btn-primary btn-xl rounded-pill">Back</button>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
  <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
  <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
  <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
</header>
