<ng-container *ngIf="userNone; else showPermissions">
  <div class="w-100 scroll">
    <form (submit)="loadUser($event)" class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center mb-3">
      <div class="w-100 p-4">
        <label for="user-email" class="form-label">User Email</label>
        <input type="email" name="email" class="form-control" id="user-email" placeholder="Enter User Email" minlength="1" maxlength="255" required>
      </div>
      <button type="submit" class="btn btn-primary text-primary-emphasis text-bg-primary btn-lg rounded-pill">Fetch User</button>
    </form>
    <div class="w-100 text-center text-danger m-2"> {{ permissionsError }} </div>
  </div>
</ng-container>
<ng-template #showPermissions>
  <div class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-end p-3">
    <div class="w-100 w-md-50 w-md-50 d-flex flex-column justify-content-evenly align-items-lg-baseline overflow-x-scroll no-wrap my-2 p-3">
      <h5> {{ userEmail }} </h5>
    </div>
    <div class="w-100 w-md-50 d-flex justify-content-evenly overflow-x-scroll no-wrap my-2 p-3">
      <span class="p-2 rounded-2 text-center text-dark-emphasis text-bg-dark fw-bold ms-1 me-1">Customer</span>
      <button (click)="toggleChef()" class="btn p-2 fw-bold ms-1 me-1" [ngClass]="isChef ? 'text-warning-emphasis text-bg-warning' : 'text-warning'">Chef</button>
      <button (click)="setAdmin()" class="btn p-2 fw-bold ms-1 me-1" [ngClass]="isAdmin ? 'text-success-emphasis text-bg-success' : 'text-success'">Admin</button>
    </div>
  </div>
  <div class="w-100 d-flex flex-column flex-sm-row justify-content-evenly align-items-center">
    <button (click)="confirmChanges()" class="btn btn-primary btn-xl rounded-pill m-2">Confirm</button>
    <button (click)="cancelChanges()" class="btn btn-primary btn-xl rounded-pill m-2">Cancel</button>
  </div>
</ng-template>
