<div class="flex-grow-1 d-flex flex-column justify-content-start align-items-center overflow-y-scroll no-wrap form-control p-3 mb-3">
  <div class="w-100 scroll">
    <div *ngFor="let user of users; index as i; trackBy: userTracking" class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-end p-3">
      <div class="w-100 w-md-50 w-md-50 d-flex flex-column justify-content-evenly align-items-lg-baseline overflow-x-scroll no-wrap my-2 p-3">
        <h4> {{i + 1}}. {{ user.name }} </h4>
        <h6> {{ user.email }} </h6>
      </div>
      <div class="w-100 w-md-50 d-flex justify-content-evenly overflow-x-scroll no-wrap my-2 p-3">
        <span class="p-2 rounded-2 text-center text-dark-emphasis text-bg-dark fw-bold ms-1 me-1">Customer</span>
        <button (click)="toggleChef(user.id)" class="btn p-2 fw-bold ms-1 me-1" [ngClass]="isChef(user.authorisation) ? 'text-warning-emphasis text-bg-warning' : 'text-warning'">Chef</button>
        <button (click)="setAdmin(user.id)" class="btn p-2 fw-bold ms-1 me-1" [ngClass]="isAdmin(user.authorisation) ? 'text-success-emphasis text-bg-success' : 'text-success'">Admin</button>
      </div>
    </div>
  </div>
</div>
