<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand">MVC.Food</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-center"><a class="nav-link">Incomplete Suborders</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead text-black align-content-center h-100">
  <div class="masthead-content h-100">
    <div class="main h-100 w-100 container bg-white rounded-5 p-5" >
      <div class="text-center w-100">
        <h2>Incomplete Suborders</h2>
        <hr>
      </div>
      <div class="w-100 d-flex g-3 overflow-x-auto no-wrap p-3">
        <button *ngFor="let orderId of orderIds; index as i; trackBy: orderIdTracking" (click)="toggleOrder(orderId)" class="btn p-2 rounded-2 text-center fw-bold ms-1 me-1" [ngClass]="displayedOrderIds.indexOf(orderId) > -1 ? 'text-primary-emphasis text-bg-primary' : 'text-primary'">Order {{ orderId }}</button>
      </div>
      <div class="flex-grow-1 d-flex flex-column justify-content-start align-items-center overflow-y-scroll no-wrap form-control p-3 mb-3">
        <div class="w-100 scroll">
          <ng-container *ngIf="loaded; else loading">
            <suborders-suborders-display [suborders]="displayedSuborders"></suborders-suborders-display>
          </ng-container>
          <ng-template #loading>
            <div class="loading"></div>
          </ng-template>
        </div>
      </div>
      <div class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center">
        <button [disabled]="suborders.length == 0" (click)="confirmChanges($event)" class="btn btn-primary btn-xl rounded-pill m-2">Confirm</button>
        <button (click)="loadDashboard()" class="btn btn-primary btn-xl rounded-pill m-2">Back</button>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
  <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
  <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
  <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
</header>
