@import "startbootstrap-one-page-wonder/dist/css/styles.css";

header.masthead {
  min-height: 100vh;
}

.mt-6 {
  margin-top: 5rem;
}

.no-wrap {
  white-space: nowrap;
}

.scroll {
  max-height: 400px;
}

.main {
  max-width: 800px;
}

@keyframes bobble {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin bobble-time($time) {
  animation: bobble $time infinite;
}

.bobble-effect-10 {
  @include bobble-time(10s)
}

.bobble-effect-4 {
  @include bobble-time(4s)
}

.bobble-effect-6 {
  @include bobble-time(6s)
}

.bobble-effect-8 {
  @include bobble-time(8s)
}

.loading {
  width: 5rem;
  height: 5rem;

  margin-top: 5rem;
  margin-bottom: 5rem;

  border-radius: 50%;

  color: var(--bs-pink);

  animation: loading 1s infinite linear;
}
