<div class="text-center">
  <h1>Admin Options</h1>
  <hr>
</div>
<div class="d-flex flex-lg-row flex-column justify-content-evenly align-items-center align-items-lg-baseline p-5">
  <div (click)="allOrders()" class="card container p-0 m-3">
    <img src="assets/img/orders.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">All Orders</h4>
      <h6 class="card-subtitle mb-2 text-muted">View all orders to date</h6>
      <p class="card-text">View all orders ever placed to date by an customer</p>
    </div>
  </div>
  <div (click)="adminOptions()" class="card container p-0 m-3">
    <img src="assets/img/complete.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Admin Options</h4>
      <h6 class="card-subtitle mb-2 text-muted">Administrative options for your restaurant</h6>
      <p class="card-text">View and create food tags, add new food items, update tags on existing food items, and update user permissions</p>
    </div>
  </div>
</div>
